:host {
  --button-padding: 0;
}

.button {
  all: unset;
  padding: var(--button-padding);

  &:hover {
    &:not([disabled]) {
      opacity: 0.7;
      cursor: pointer;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &:focus {
    outline: 2px solid black;
    border-radius: 2px;
  }

  &:disabled {
    opacity: 0.5;
  }
}
