<input class="checkbox__input"
       type="checkbox"
       [disabled]="disabled()"
       [(ngModel)]="checked"
       [indeterminate]="indeterminate()"
       [attr.id]="id()"
       [attr.name]="name()"
       [attr.aria-checked]="indeterminate() ? 'mixed' : (checked ? 'true' : 'false')"
       [attr.aria-label]="ariaLabel()"
       [attr.aria-labelledby]="ariaLabelledBy()"
       [attr.aria-describedby]="ariaDescribedBy()"
       (change)="onChange()"
/>
<label class="checkbox__label"
       [attr.for]="id()"
>
  <ng-content></ng-content>
</label>
